body{

font-family:Arial;
background:#f4f6fb;
margin:0;

}


.app{

max-width:900px;
margin:auto;
padding:30px;

}



.card{

background:white;
padding:25px;
border-radius:20px;
margin-bottom:25px;

box-shadow:0 10px 30px #ddd;

}



.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;

}


input,select,textarea,button{

padding:12px;
border-radius:12px;
border:1px solid #ddd;

}


textarea{

width:100%;
height:80px;
margin-top:10px;

}



button{

width:100%;
background:#111;
color:white;
margin-top:15px;

}



table{

width:100%;
border-collapse:collapse;

}



th{

background:#111;
color:white;
padding:12px;

}



td{

padding:12px;
border-bottom:1px solid #eee;

}



.income{

color:#16a34a;
font-weight:bold;

}


.expense{

color:#dc2626;
font-weight:bold;

}



@media(max-width:600px){

.grid{

grid-template-columns:1fr;

}

}
.summary{

display:flex;
gap:15px;
margin-bottom:25px;

}


.box{

background:white;
padding:20px;
border-radius:20px;
flex:1;

box-shadow:0 10px 25px #ddd;

}


.box p{

font-size:25px;
font-weight:bold;

}


@media(max-width:600px){

.summary{

flex-direction:column;

}

}
